body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #1D3647;
}
.login_bg {
	background-image: url(../images/login_bg.jpg);
	background-repeat: repeat-x;
}
.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: �̶�;
	line-height: 38px;
}
.admin_topbg {
	background-image: url(../images/top-right.gif);
	background-repeat: repeat-x;
}

.name {
	font-family: Arial, Helvetica, sans-serif;
        color: #1D3647;
	font-size: 25px;
}