a{
color:#256c89;
}

#rounded-corner
{
margin:0px;
width:625px;
text-align: left;
border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
width:26px;
background: #60c8f2 url(../images/left.jpg) left top no-repeat;
}
#rounded-corner thead th.rounded-q4
{
background: #60c8f2 url(../images/right.jpg) right top no-repeat;
}
#rounded-corner th
{
padding: 8px;
font-weight: normal;
font-size: 13px;
color: #039;
background: #60c8f2;

}
#rounded-corner td
{
padding: 8px;
background: #ecf8fd;
border-top: 1px solid #fff;
color: #669;
word-break: keep-all;
white-space:nowrap;
}
#rounded-corner tfoot td.rounded-foot-left
{
background: #ecf8fd url(../images/botleft.jpg) left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
background: #ecf8fd url(../images/botright.jpg) right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
background: #d2e7f0;
}

.btn_an {
        font-size: 11pt;
        color: white;	
	background:url(../images/bt_blue_center.gif) repeat-x center;
        cursor: hand;
        height:25px;
	border:none;
}
.btn_green {
        float:right;
	font-size: 12pt;
        font-weight:bold;
        color: white;	
	background:url(../images/bt_green_center.gif) repeat-x center;
        cursor: hand;
        height:30px;
	border:none;
}
.btn_blue {
        float:right;
	font-size: 12pt;
        font-weight:bold;
        color: white;	
	background:url(../images/bt_blue_center.gif) repeat-x center;
        cursor: hand;
        height:30px;
	border:none;
}
.btn_red {
        float:right;
	font-size: 12pt;
        font-weight:bold;
        color: white;	
	background:url(../images/bt_red_center.gif) repeat-x center;
        cursor: hand;
        height:30px;
	border:none;
}
/*--------------*/
div.pagination {
width:625px;
clear:both;
padding:10px 0 10px 0;
margin:0px;
text-align:center;
float:left;
clear:both;
font-size:11px;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
text-decoration: none; 
color: #52bfea;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #52bfea;
color: #fff;
background-color: #52bfea;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
font-weight: bold;
background-color: #52bfea;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #f3f3f3;
color: #ccc;
}
